---
import DefaultLayout from '../layouts/DefaultLayout.astro'

import Anchor from '../components/Anchor.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Counter from '../components/Counter.astro'
import Feature from '../components/Feature.astro'
import Hero from '../components/Hero.astro'
import { Icon } from 'astro-icon'
import Stats from '../components/Stats.astro'

import { Image } from "astro:assets"
import team from '../assets/img/ns-team.jpg'
import heart from '../assets/img/stock-heart.jpg'
import stockTeam from '../assets/img/stock-team.jpg'
import img4 from '../assets/img/stock-diabetes.jpg'
import img from '../assets/img/ns-hero.jpg'
---

<DefaultLayout title="Home">
  
  <Hero title="Nutrition solutions that work for you." blurb="" img={img} />

  <Stats />

  <Anchor/>
  <ContentMedia imgSrc={team} imgWidth={1024} imgHeight={682} >
    <h2>Our Expertice</h2>
    <p class="text-2xl">
      Nutrition Solutions is a team of experienced dietitians who approach nutrition in a way that promotes enjoyment and exploration into food. We recognise that dietary choices are highly individual and the importance of finding the balance between eating the foods we love and living a healthy lifestyle.
      <br><br>
      <a class="button has-icon max-w-max" href="/about-us/">
        Learn More <Icon pack="icon-park-outline" name="arrow-right" />
      </a>
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={heart} imgWidth={1024} imgHeight={682} reverseImg={true}>
    <h2>Our Services</h2>
    <p class="text-2xl">
      On top of a passion for food, our dietitians are qualified experts in the field of nutrition and provide science-based advice for all types of health conditions.
      <br><br>
      <a class="button has-icon max-w-max" href="/services/">
        Learn More <Icon pack="icon-park-outline" name="arrow-right" />
      </a>
    </p>
  </ContentMedia>

  <ContentMedia imgSrc={stockTeam} imgWidth={620} imgHeight={486}>
    <h2>Our Team</h2>
    <p class="text-2xl">
      On top of a passion for food, our dietitians are qualified experts in the field of nutrition and provide science-based advice for all types of health conditions.
      <br><br>
      <a class="button has-icon max-w-max" href="/our-team/">
        Learn More <Icon pack="icon-park-outline" name="arrow-right" />
      </a>
    </p>
  </ContentMedia>


 
</DefaultLayout>
