---
import DefaultLayout from '../layouts/DefaultLayout.astro'

import Anchor from '../components/Anchor.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Hero from '../components/Hero.astro'
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'

import img from '../assets/img/stock-heart.jpg'
import img1 from '../assets/img/ns-flex-pair-sm.jpg'
import img2 from '../assets/img/stock-smile-sunset.jpg'
import img3 from '../assets/img/stock-on-bed.jpg'
import img4 from '../assets/img/stock-diabetes.jpg'

const {
  reverseImg = false,
  imgWidth,
  imgHeight,
  title = 'Services',
  blurb = 'We are experts in weight loss surgery support and we are committed to helping you achieve reach your weight goals, improve your relationship with food and ensure you are feeling healthy and well-nourished after surgery.',
} = Astro.props
---

<DefaultLayout title={title}>

  <Hero 
    title={title}
    blurb={blurb}
    img={img}
  />
  

  <Anchor />
    <ContentMedia imgSrc={img1} reverseImg={false} imgWidth={620} imgHeight={486}>
      <h2>Weight Loss</h2>
      <p class="text-2xl">
        We recognise that a “one size fits all approach” is not appropriate when it comes to weight-management. We can
        help you to: Stop the yo-yo dieting cycle Manage your snacking Find the style of eating that best suits you Find
        foods that keep your appetite well controlled Improve your energy levels.
        <br /><br />
        <a class="button has-icon max-w-max" href="/weight-loss/">
          Learn More <Icon pack="icon-park-outline" name="arrow-right" />
        </a>
      </p>
    </ContentMedia>

    <ContentMedia imgSrc={img2} reverseImg={true} imgWidth={620} imgHeight={486}>
      <h2>Weight Loss Surgery</h2>
      <p class="text-2xl">
        We are experts in weight loss surgery support and we are committed to helping you achieve reach your weight
        goals, improve your relationship with food and ensure you are feeling healthy and well-nourished after surgery.
        <br /><br />
        <a class="button has-icon max-w-max" href="/weight-loss-surgery/">
          Learn More <Icon pack="icon-park-outline" name="arrow-right" />
        </a>
      </p>
    </ContentMedia>

    <ContentMedia imgSrc={img3} reverseImg={false} imgWidth={620} imgHeight={486}>
      <h2>Food Intolerances & IBS</h2>
      <p class="text-2xl">
        Food intolerances and irritable bowel syndrome (IBS) are better recognised and more commonly diagnosed than
        ever before. Symptoms from foods can emerge at any stage of life, even from foods you previously tolerated!
        <br /><br />
        <a class="button has-icon max-w-max" href="/food-intolerance-and-ibs/">
          Learn More <Icon pack="icon-park-outline" name="arrow-right" />
        </a>
      </p>
    </ContentMedia>

    <ContentMedia imgSrc={img4} reverseImg={true} imgWidth={620} imgHeight={486}>
      <h2>Diabetes Support</h2>
      <p class="text-2xl">
        Diabetes is a complex condition which requires good understanding of how food affects your blood sugar
        levels. We can help! We have found that a lot of dietary advice for diabetics is outdated and unhelpful.
        <br /><br />
        <a class="button has-icon max-w-max" href="/">
          Learn More <Icon pack="icon-park-outline" name="arrow-right" />
        </a>
      </p>
    </ContentMedia>

</DefaultLayout>
